.sec-container {
    width: 100%;
    max-width: 900px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.col-left {
    width: 40%;
    text-align: center;
}
.col-left img{
    height: 300px;
}
#sign-in-form, #sign-up-form {
    width: 40%;
    max-width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sign-in-form > div, #sign-up-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    position: relative;
}

#sign-in-form input, #sign-up-form input, #sign-in-form button, #sign-up-form button {
    width: 90%;
    height: 45px;
    border: 2px solid #0ec441;
    border-radius: 20px;
    padding: 4px 40px;
    font-size: 18px;
    outline: none;
    background: rgba(61, 235, 118, 0.1);
    text-align: center;
}
#sign-in-form div svg, #sign-up-form div svg {
    position: absolute;
    left: 35px;
    height: 45px;
    font-size: 18px;
}

#sign-in-form button, #sign-up-form button {
    background-color: #0ec441;
    color: #fff;
    font-size: 17px;
    margin-top: 12px;
    padding: 0;
}
.alert-msg {
    color: #ff0000;
    background: rgba(255, 192, 203, 0.14);
    border-radius: 4px;
}
.alert-msg p:empty{padding: 0;}
.alert-msg p{margin: 0;  padding: 8px;}