@import url("https://fonts.googleapis.com/css?family=Raleway:700");
header {
	height: 60px;
	margin: 0;
	padding: 0;
	// background-color: rgb(74, 81, 150);
	font-family: "Raleway", sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;

	nav {
		max-width: 1200px;
		margin: 0 auto;
		height: 60px;
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#logo {
		width: 20%;
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	#nav-links {
		width: 60%;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}
	#auth-links {
		width: 40%;
		display: flex;
    	align-items: center;
    	justify-content: flex-end;
	}
	#nav-links a {
		display: inline-block;
		padding: 5px 20px;
		margin: 0 10px;
		text-decoration: none;
		font-size: 16px;
		color: #fff;
		letter-spacing: 1px;
	}
	#auth-links {
		a {
			margin: 0 7px;
			padding: 5px 20px;
			border-radius: 4px;
			font-size: 16px;
			text-decoration: none;
			border: 2px solid;
			color: #fff;
			letter-spacing: 1px;
		}
		#log-out-btn {
			background: #de0851;
    		border-color: #de0851 !important;
		}
		#user-profile-btn {
			background: #08de6f;
			border-color: #08de6f !important;
			color: #000;
		}
		#sign-in-btn {
			background-color: rgb(14, 196, 65);
			border-color: rgb(14, 196, 65);
		}
		#sign-up-btn {
			background-color: rgb(230, 38, 46);
			border-color: rgb(230, 38, 46);
		}
	}
}
