@import url("https://fonts.googleapis.com/css?family=Raleway:700");
header {
	height: 60px;
	margin: 0;
	padding: 0;
	background-color: rgb(74, 81, 150);
	font-family: "Raleway", sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;

	nav {
		max-width: 1200px;
		margin: 0 auto;
		height: 60px;
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#nav-links a {
		display: inline-block;
		padding: 5px 20px;
		margin: 0 10px;
		text-decoration: none;
		font-size: 16px;
		color: #fff;
		letter-spacing: 1px;
	}
	#auth-link {
		a {
			margin: 0 7px;
			padding: 5px 20px;
			border-radius: 4px;
			font-size: 16px;
			text-decoration: none;
			border: 2px solid;
			color: #fff;
			letter-spacing: 1px;
		}
		#sign-in-btn {
			background-color: rgb(14, 196, 65);
			border-color: rgb(14, 196, 65);
		}
		#sign-up-btn {
			background-color: rgb(230, 38, 46);
			border-color: rgb(230, 38, 46);
		}
	}
}
