@import "_auth";
@import "_header";
// ************ Mexins ************

// ************ Styling ************
* {
	box-sizing: border-box;
}
body,
html {
	padding: 0;
	margin: 0;
}

section {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	#error-msg {
		margin-bottom: 20px;
		font-size: 16px;
	}
}

#error-page {
	h1 {
		font-size: 120px;
		font-weight: 700;
		font-family: "Raleway", sans-serif;
		line-height: 0;
	}
	p {
		font-size: 30px;
		margin-top: 0;
	}
}
