@import url("https://fonts.googleapis.com/css?family=Raleway:700");
#sign-in-page {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  background-color: rgba(7, 77, 89, 0.4);
  display: flex;
  align-items: center;
  border: none;
}
#sign-in-page form {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
}
#sign-in-page form input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  padding: 3px 10px;
  border: 2px solid #0c4383;
  outline: none;
}
#sign-in-page form button {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  padding: 3px 10px;
  border: 2px solid #0c4383;
  outline: none;
  background-color: #0c4384;
  color: #fff;
}
#sign-in-page select {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  padding: 3px 10px;
  border: 2px solid #0c4383;
  outline: none;
}
#sign-in-page textarea {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  padding: 3px 10px;
  border: 2px solid #0c4383;
  outline: none;
  height: 100px;
}

header {
  height: 60px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
}
header nav {
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #logo {
  width: 20%;
}
header #logo a {
  color: #fff;
  text-decoration: none;
}
header #nav-links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #auth-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header #nav-links a {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}
header #auth-links a {
  margin: 0 7px;
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid;
  color: #fff;
  letter-spacing: 1px;
}
header #auth-links #log-out-btn {
  background: #de0851;
  border-color: #de0851 !important;
}
header #auth-links #user-profile-btn {
  background: #08de6f;
  border-color: #08de6f !important;
  color: #000;
}
header #auth-links #sign-in-btn {
  background-color: #0ec441;
  border-color: #0ec441;
}
header #auth-links #sign-up-btn {
  background-color: #e6262e;
  border-color: #e6262e;
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section #error-msg {
  margin-bottom: 20px;
  font-size: 16px;
}

#error-page h1 {
  font-size: 120px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 0;
}
#error-page p {
  font-size: 30px;
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
